*
{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

* { 
    font-family: "Segoe UI", Arial, sans-serif;
}

.WelcomePage
{
    width: 100%;
    height: 100%;
}

/* Customize menu */
.main-nav
{
    -webkit-backdrop-filter:blur(10px);
    backdrop-filter: blur(10px);    
    background-color: rgba(255, 255, 255, 0.614);
    margin-top: 1rem;
    margin-inline: 2rem;
    border-radius: 6px;
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0,0.25);
    z-index: 7 ;
    top: 0%;
    display: flex;
    position: fixed;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}


ul.menu-left
{
    align-items: center;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-flex;
    z-index: 6;
}

div.menu-right
{
    display: flex;
    z-index: 6;
    align-items: center;
    margin-left: auto;
    padding-right: 2rem;
}

li
{
    padding-right: 50px;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchbox
{
    border-radius: 15px;
    border:0cm;
    height: 24px;
    width: 16rem;
    margin-right: 1rem;
}

input[type=search]
{
    outline: none;
    padding: 12px 12px;
    font-size: 15px;
    
}

/* Shop */
a.Shop
{
    text-decoration:none;
    color: rgb(68, 68, 68);
}

/* Magazine */
a.Magazine
{
    text-decoration: none;
    color: rgb(68, 68, 68);
}

/* CustomYourOwn */
a.Custom
{
    text-decoration: none;
    color: rgb(68, 68, 68);
}

/* Logo */
.logo
{
    margin-right: 70px;    
    height: 20px;
    width: 20px;
    padding-left: 1px;
 
}

.login
{
    height: 40px;
}

.cart
{
    height: 40px;
    margin-right: 10px;
}

.Shadow
{
    display:block;
    width: 100%;
    position: fixed ;
    z-index: 5;
    top:0%;

}

.img-title
{
    width: 100%;
    display: block;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* กำหนดความสูงให้เท่ากับความสูงของหน้าจอ */
    
}

/* สไตล์สำหรับเมนูแบบดรอปดาวน์ */
.dropdown {
    position: relative;
    display: inline-block;
    left: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.614);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* สไตล์สำหรับรูปภาพในเมนูแบบดรอปดาวน์ */
.dropdown-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* สไตล์สำหรับตัวเลือกในเมนูแบบดรอปดาวน์ */
.dropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0);
    color: white;
}

.login-link {
    display: block;
    margin-top: 10px;
    color: #000; /* สีลิงก์ดำ */
    text-decoration: underline;
    
}


ion-icon[name="trash-sharp"] {
    color: #ffffff; /* Red color for the trash icon */
    font-size: 20px;
    cursor: pointer;
}

.cart-content {
    position: relative; /* เพิ่มบรรทัดนี้ */
    text-align: center;
    margin-top: 120px;
}

.mycart {
    width: 100%;
    padding: 20px 10vw;
    display: flex;
    justify-content: space-between;
}

.product{
    width:50%;
}
.listcart{
    width:100%;
    background-color: white;    
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-bottom: 50px;
}
.numberlist{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow:hidden;
    position:relative;
    margin-bottom:20px;
}

.mycart .numberlist:last-child{
    margin-bottom: 0;
}

.numberlist-img{
    height:100px;
    width:100px;
    object-fit: cover;
}
.numberlist-text{
    width:50%
}
.numberlist-name{
    font-size:20px;
    font-weight: bold;
    text-transform: capitalize;
}

.numberlist-des{
    font-size: 15px;
    opacity:0.5;
    line-height: 25px;
    text-transform: capitalize;
    margin-top: 10px;
}

.quantity{
    width:90px;
    height:30px;
    display:flex;
    margin-right:20ox;
}
.quantity-btn .item-quantity{
width:30px;
height:30px;
}
    .quantity-btn{
        border:none;
        background-color: black;
        color: white;
        border-radius: 2px;
        cursor:pointer;
        width:20px;
    }

    .item-quantity{
        text-align: center;
        line-height: 30px;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
    }

    .numberlist-del-btn{
        display: grid;
        width:3%;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .subtotal{
        width:20%;
        margin-right: 370px;
    }

    .subtotal-box{
        width:100%;
        height:150px;
        background-color: black;
        color:white;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 50px;
    }

    .text{
        text-transform: capitalize;
        font-size:20px;
        text-align: center;
    }

    .subtotal-btn{
        display: block;
        width:100%;
        border:none;
        outline:none;
        cursor:pointer;
        height:40px;
        border-radius:5px;
        background-color: white;
        color:black;
        text-align: center;
        line-height: 40px;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: bold;
        display: grid;
    }

    .subtotalprice{
        font-size: 50px;
        text-align: center;
    }
   
    .cart-content {
        display: grid;
        align-items: center;
        justify-content: center;
        margin: 0 auto; /* จัดกลางตามแนวนอน */
        text-align: center; /* จัดกลางตามแนวนอน (สำหรับข้อความ) */
    }
    
    .cart-content ion-icon {
        font-size: 200px;
        display: grid; /* เพิ่มเลเยอร์ใน ion-icon */
        place-self: center; /* จัดตรงกลางแนวตั้งและแนวนอน */
        margin-right: 20px;
    }    
    .cart-content p {
        font-size: 18px;
        font-weight: bold;
        display: grid;
        align-items: center;
        justify-content: center;
        margin: 0 auto; /* จัดกลางตามแนวนอน */
    }
    
    .cart-content .detailbeforeshop{
        color: grey;
    }
    .cart-content h1 {
        font-size: 40px; 
        
    }

    .cart-content .shop-now {
        text-decoration: none;
        color: #000; /* สีลิงก์ดำ */
        font-weight: bold; /* ตัวหนา */
        background-color: #000; /* สีพื้นหลังดำสำหรับปุ่ม */
        color: #fff; /* สีตัวอักษรขาวสำหรับปุ่ม */
        width: 15%;
        border-radius: 5px; /* รอบมุมของปุ่ม */
        padding: 10px 10px;
        display: grid;
        align-items: center;
        justify-content: center;
        margin: 0 auto; /* จัดกลางตามแนวนอน */
        
    }
    
    .cart-content .shop-now:hover {
        background-color: rgba(54, 54, 54, 0.614);
        color: #000; /* สีตัวอักษรดำเมื่อเมาส์ชี้ที่ปุ่ม */
    }
