* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

.class {
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-image: url('../img/bg-blur.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.mybox {
    width: 400px;
    background-color: rgba(255, 251, 251, 0.40);
    color: #000;
    padding: 25px 35px;
    display: grid;
    gap: 10px;
    justify-items: center;
}

.Logintext {
    width: 50%;
    grid-column: span 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.myinput {
    width: 85%;
    height: 30px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 4fr;
    margin: 5px 0;
}

.myinput input {
    width: 100%;
    height: 100%;
    padding: 3px 0px 3px 9px;
}

.btn {
    width: 45%;
    height: 45px;
    grid-column: span 2;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.btnlogin {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    grid-column: span 2;
    padding: 15px;
    width: 100%;
    background-color: black;
    font-weight: bold;
    color: white;
    margin-top: -10px;
}

.btnback {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    grid-column: span 2;
    padding: 5px;
    width: 100%;
    background-color: white;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-top: 5px;
}

.myinput ion-icon {
    position: relative;
    margin-left: -30px;
    margin-top: 10px;
    font-size: 25px;
}

.mybox .Remember {
    display: flex;
    grid-column: span 2;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.mybox .Register {
    display: flex;
    grid-column: span 2;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.Register a {
    color: black;
}
